<h2>Update the drone</h2>

<form action="/drones/{{this.oneDrone._id}}/edit" method="post">
    <label for="name">Nombre</label>
    <input type="text" name="name" value="{{this.oneDrone.name}}">

    <br>

    <label for="propellers">Propellers</label>
    <input type="text" name="propellers" value="{{this.oneDrone.propellers}}">

    <br>

    <label for="maxSpeed">MaxSpeed</label>
    <input type="text" name="maxSpeed" value="{{this.oneDrone.maxSpeed}}">

    <br>

    <button>Modificar Dron</button>









</form>